/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Color Palette */
:root {
	--bg: #F6F2EE;
	--bg-dark: #EEE5DD;
	--fg-light: hsl(112, 10%, 50%);
	--fg: hsl(112, 6%, 37%);
	--hl: #EBADE5;
}


/* Main Styling */
html, body { 
	background-color: var(--bg);
	color: var(--fg);
	font-weight: bold;

	height: 100vh;
	width: 100vw;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
}

#sidebar {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1 1 auto;

	background-color: var(--bg-dark);

	padding: 16px 0px;
	border: 2px solid red;
}
#sidebar-title {
	font-size: 32px;
}
#book-form {

	border: solid 2px blue;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 0 1 auto;

}
#book-form > * {
	margin: 0px 0px 16px 0px;
}
#book-form > input[type=submit] {
	flex: 0 1 auto;
}

#container {
	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	flex: 5 1 auto;
	gap: 10px;

	padding: 5px;
	border: 2px solid blue;
}

#stats-bar {
	border: 2px solid red;
}

#info-bar {
	background-color: var(--bg-dark);

	border: 2px solid blue;
}

#nav-bar {
	border: 2px solid green;
}

#booklist {
	border: 2px solid orange;
}